@import url('https://fonts.googleapis.com/css?family=Oswald&display=fallback');
* {
  padding: 0;
  margin: 0;
}
@keyframes slideDown {
  0% {
    transform: translateY(-25%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
* {
  font-size: 2rem;
}

body {
  padding-top: 2rem;
  font-family: 'Oswald', sans-serif;
}
#projects {
  animation: 0.2s ease-out 0s 1 slideDown;
}
hr {
  margin: 2em 0;
}
a {
  color: #222;
  text-decoration: none;
}
a:hover {
  color: #9C02A7;
}
img {
  height: 2rem;
}
li {
  margin-bottom: 3rem;
  list-style-type: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}
