@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=fallback&subset=cyrillic');
* {
  padding: 0;
  margin: 0;
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
body {
  padding-top: 2em;
  font-family: 'Press Start 2P';
  animation: 0.3s ease-out 0s 1 slideDown;
}
hr {
  margin-top: 2em;
}
a {
  font-size: 1.3em;
  color: #222;
  text-decoration: none;
}
a:hover {
  color: #9C02A7;
}
img {
  height: 1.3em;
}

li {
  margin: 4em 0;
  list-style-type: none;
}

.container {
  width: 70%;
  margin: 0 auto;
}
